.dropdowns {
  display: flex;
  flex-wrap: wrap;

  .input-group {
    flex-basis: 170px;
    margin: 0 20px 25px 0;

    .form-control {
      border-radius: $border-radius 0 0 $border-radius ;
      padding: 25px 15px 24px;

      @include _font($family: 'Lato', $size: 18px, $lineHeight: 22px, $weight: 700);
    }
    .btn-group {
      &.show {
        width: 670px;

        .form-control {
          border-bottom-left-radius: 0;
        }
        & > .btn:not(:first-child) {
          border-bottom-right-radius: 0;
        }
        .dropdown-toggle {
          @include caret(up);
        }
        .dropdown-menu {
          width: 670px;
          left: 1px !important;
        }
      }
    }
    .dropdown-menu {
      margin: -1px;

      .row {
        max-height: 50vh;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}