$input-placeholder-color: #000;

.mainSearch {
  margin: 0 0 25px 0;

  .form-control {
    @include _font($family: 'Lato', $size: 18px, $lineHeight: 22px, $weight: 400);

    &::placeholder {
      color:  $input-placeholder-color;
    }
  }

  .btn {
    -webkit-text-stroke: 1px;
  }
}